<footer class="bg-neutral-800 flex flex-col items-center w-full divide-y divide-neutral-500">
  <div class="flex flex-col md:flex-row md:gap-4 justify-between items-center px-16 py-6 w-full">
    <img class="mx-auto md:mx-0" src="/images/logo.png" alt="logo">
    <div class="flex flex-col items-center text-secondary">
      <h3 class="text-center text-2xl font-slackey text-primary my-2">Informations</h3>
      <a href="#">Mentions légales</a>
      <a href="#">Conditions de vente</a>
      <a href="#">Contact</a>
    </div>
    <div>
      <h3 class="text-center text-2xl font-slackey text-primary my-2">Suivez nous</h3>
      <p class="flex gap-6 mx-auto justify-center text-secondary text-4xl mb-6">
        <a href="https://instagram.com/vexcitedoff" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://facebook.com" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://x.com/vexcitedoff" target="_blank">
          <i class="fa-brands fa-x"></i>
        </a>
        <a href="https://youtube.com/@Vexcited" target="_blank">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </p>
    </div>
</footer>
