<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head.ejs') %>
<body class="min-h-screen grid grid-rows-[auto_1fr_auto]">
  <%- include ('../partials/header.ejs') %>
  <main class="mx-auto container p-4 flex flex-col grow justify-start">
    <%- body %>
  </main>
  <%- include ('../partials/footer.ejs') %>
</body>
</html>
